%h1= name
%form{:action => "/send-mail", :method => "post"}
	%input{:type => "button", :class => "sendButton", :value => "Send Mail"}
%table
	%tbody
	- index = 0
	- data.each do |d|
		- id = (d[8].split('@').first).split('.').first
		%tr{:style => "color:#{d[9] ? 'black' : 'red'};font-size:9pt", :id => id}
			%td{:style => "text-align:right;font-weight:bold"}= index += 1
			%td= d[1]
			%td= d[2]
			%td= d[8]
%script{src: "js/publish.js"}
