- emp_name = data[1].split('/').first
==Dear #{emp_name},
%br
%br
==Your airtel bill for the month of #{name}. If your usage has exceeded the limit (<B>in case of official calls</B>), please send a mail to twipayroll@thoughtworks.com marking your PM.
%br
%br
%table{:border => 1}
	%thead
	%tr
		- headers[0..7].each do |h|
			%th{:bgcolor => "#cccccc", :width => "5%"}= h
	%tbody		
		%td{:align => "center", :valign => "middle", :height => "20%"}= data[0]
		%td{:align => "center", :valign => "middle", :height => "20%"}= emp_name		
		- data[2..7].each do |d|
			%td{:align => "center", :valign => "middle", :height => "20%"}= d
%br
%br
%br
Thanks
%br
Admin
